// Layout
#app {
  position: relative;
}

header {
  height: 30px;
  background: $color-blue;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: $color-white;
  font-weight: bold;

  button {
    color: $color-white;
  }

  .nav-bars {
    font-size: 24px;
  }

  .header-left {
    margin-left: 1em;
    flex-grow: 0;
  }
  .header-center {
    font-size: 24px;
    text-align: center;
    font-family: 'Bree Serif', serif;
    flex-grow: 1;

    h2 {
      font-weight: 500;
    }
  }
  .header-right {
    font-size: 16px;
    margin-right: $base-unit;
    flex-grow: 0;
  }

}

.drawer-open > nav#drawer {
  top: 60px;
}

.window-shade {
  top: 45px;
  transition-property: left, top;
  transition-duration: .5s, .35s;
  transition-timing-function: ease;
  opacity: 0.5;
  z-index: 20;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  position: fixed;
  background: #000;
}

.shade-form {
  position: absolute;
  top: 110px;
  left: 30%;
  right: 30%;

  padding: 1em;
  border-left: 1px solid $color-blue;
  border-bottom: 1px solid $color-blue;
  border-right: 1px solid $color-blue;
  border-top: 1px solid $color-blue;
  border-radius: 10px;
  background: #fff;
  position: fixed;
  z-index: 100;
}

#drawer,
.window-shade {
  top: 39px;
  transition-property: left, top;
  transition-duration: .5s, .35s;
  transition-timing-function: ease;
}

.layout-wrap {
  height: 100%;
  position: relative;
}

main {
  background: #F7F7F7;
  height: 100%;
  padding-top: 60px;
}
.content-spacer {
  background: $color-white;
  padding: $base-unit;

  @media (min-width: 500px) {
    border: 1px solid #E6E6E6;
    margin: $base-unit*2;
    padding: $base-unit*2;
  }
}

.default-content {
  z-index: 0;
}
