// Shared layout classes
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.centered-vert {
  display: flex;
  align-items: center;
}
.block-area {
  padding: 1em;
  margin: 1em;
  display: block;
  width: 100%;
}
.block-area-half {
  padding: 0.5em;
  margin: 0.5em;
  display: block;
  width: 100%;
}
.hand {
  cursor: pointer;
}
.color-blue {
  color: $color-blue;
}
.bg-color-green {
  background-color: $color-green-lt;
}
button.action {
  background-color: $color-blue;
  color: $color-white;
  border-radius: $base-unit/2;
  padding: $base-unit/2 $base-unit;
  cursor: pointer;

  &:disabled {
    background-color: $color-blue-med;
    cursor: auto;
  }
}
