.checklist-items label {
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid $color-blue;
  border-left: 1px solid $color-blue;
  border-right: 1px solid $color-blue;
  border-top: 1px solid $color-blue;
  border-radius: 10px;
  margin-bottom: $base-unit * 1.25;
  padding: 15px $base-unit;
  background-color: $color-white;
  color: $color-blue;
  height: 30px;
  &.done {
    background-color: $color-blue;
    color: $color-white;
  }
  input {
    display: none;
  }
  > svg {
    margin-right: $base-unit;
    border-radius: 5px;
  }
  > svg.empty-square {
    color: $color-white;
    border: 1px solid $color-blue;
    margin-left: -1px;
  }
  &.done .checklist-text {
    margin-left: 1px;
  }
}

@media (min-width: 768px) {
  .checklist-items label:hover {
    background-color: $color-blue-med;
    color: $color-white;
  }
  .checklist-items label.done:hover {
    background-color: $color-blue;
  }
}

.comments-container {
  margin-right: $base-unit*2;
}

textarea.list-comment {
  width: 100%;
  min-height: 100px;
  border-bottom: 1px solid $color-blue;
  border-left: 1px solid $color-blue;
  border-right: 1px solid $color-blue;
  border-top: 1px solid $color-blue;
  border-radius: 10px;
  color: $color-blue;
  outline: 0;
  padding: $base-unit;
  margin-bottom: $base-unit * 1.25;
}
