.checklist-item {
  margin: 1em;
}

.checklist-item label.big-label {
  font-size: 36px;
  font-weight: bold;
  display: block;
  text-align: left;
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-top: 4px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 15px 25px;
  background-color: aqua;
  svg {
    position: absolute;
    padding-left: 350px;
    transition: all .5s linear;
    opacity: 0;
    color: aqua;
  }
  &.approved {
    background-color: pink;
  }
  &.done {
    background-color: lime;

    svg {
      color: #b71212;
      opacity: 1.0;
      padding-left: 15px;
    }

    .but-save {
      display: block;
    }
  }
  input {
    display: none;
  }
}
