nav#drawer {
  z-index: 50;
  background: $color-blue;
  width: 370px;
  top: -250px;
  left: 0;
  overflow-y: auto;
  position: fixed;
  max-height: 500px;
  box-shadow: 0px 3px 6px #00000029;

  ul {
    list-style-type: none;
    margin: 0 15px $base-unit*4;
    padding: 0;
  }

  li {
    margin: 5px;
    padding: 10px 0;
    border-bottom: 1px solid $color-blue-lt;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: $color-white;
  }
}
